*,
*:before,
*:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.background1{
	background-image:url('../pictures/bg6.webp');
	background-repeat:no-repeat;
	height:100vh;
	width:100%;
	display:flex;
	text-align:center;
	position:fixed;
}

.background2{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	padding-left:600px;
	height:100vh;
	width:100%;
	background-image:url('../pictures/bg7.webp');
	background-repeat:no-repeat;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	text-align:center;
	animation:
		Appear 1.5s linear forwards,
		Disappear 1s linear 6s forwards;
}

.elements-pics{
	display:flex;
	flex-direction:row;
	gap:30px;
	animation:
		dropIn 1s linear forwards;
}

.background2 h1{
	font-family: 'Righteous', cursive;
	font-weight:normal;
	font-style:normal;
	font-size: 4.5rem;
	font-weight:100;
	color:transparent;
	-webkit-text-stroke:1px #ffffff;
	background-image:url('../pictures/text-bg.webp');
	background-size:fill;
	background-clip:text;
	-webkit-background-clip:text;
	letter-spacing:5px;
}

:is(.earth img, .fire img, .air img, .water img){
	height:auto;
	width:100px;
	opacity:0;
}

.earth img{
	animation:
		element_in 2s ease-out 1.5s forwards;
}

.fire img{
	animation:
		element_in 2s ease-out 1.75s forwards;
}

.air img{
	animation:
		element_in 2s ease-out 2s forwards;
}

.water img{
	animation:
		element_in 2s ease-out 2.25s forwards;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 600px){
	.background1{
		background-position-x:-270px;
	}
	.background2{
		background-position-x:-270px;
		padding-left:0px;
	}
	.background2 h1{
		font-size:3rem;
	}
	.elements-pics{
		gap:0px;
	}

	:is(.earth img, .fire img, .air img, .water img){
		height:auto;
		width:75px;
		opacity:0;
	}
}

@media only screen and (min-width: 600px){
	.background2{
		padding-left:0px;
	}
	.background2 h1{
		font-size:3.5rem;
	}
}

@media only screen and (min-width: 768px){
	.background2 h1{
		font-size:3.5rem;
	}
}

@media only screen and (min-width: 992px){
	.background2 h1{
		font-size:4rem;
	}
}

@media only screen and (min-width: 1200px){
	.background2{
		padding-left:600px;
	}
}