*,
*:before,
*:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	height:100%;
	width:100%;
}

body{
	height: 100vh;
	width:100%;
}

.paragraphs-font{
	font-size:1.25rem;
	font-family: 'Secular One', sans-serif;
	color:#707d9d;
}

#main-page{
	display:none;
	width:90%;
	min-height:100%;
	animation:ContentIn 4.5s linear forwards;
	background: rgba(255, 255, 255, 0.21);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.8px);
	-webkit-backdrop-filter: blur(4.8px);
	border: 1px solid rgba(255, 255, 255, 0.46);
	margin-right:auto;
	margin-left:auto;
	position:relative;
	z-index:999;
}


.mainpage-behind{
	position:absolute;
	opacity:0.22;
}

.air-position{
	left:0;
	top:0;
}

.water-position{
	right:0;
	top:600px;
}

.earth-position{
	left:0;
	top:1200px;
}

.fire-position{
	right:0;
	top:1800px;
}

/*INTRO SECTION*/

.intro{
	max-width:100%;
	height:1100px;
	display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
	z-index: 10000;
}

.intro p{
	max-width:60ch;
	padding-left:50px;
	padding-right:50px;
	text-align:center;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 453px){
	#main-page{
		min-height:calc(100% + 2500px);
	}
}

@media only screen and (min-width:453px){
	#main-page{
		min-height:calc(100% + 3200px);
	}
}

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {
	#main-page{
		min-height:calc(100% + 2900px);
	}
}

@media only screen and (max-width:649px){
	.mainpage-behind{
		width:300px;
		height:auto;
	}
}

@media only screen and (min-width:649px){
	.mainpage-behind{
		width:450px;
		height:auto;
	}
}


@media only screen and (min-width: 768px) {
	#main-page{
		min-height:calc(100% + 3100px);
	}
}


@media only screen and (min-width: 992px) {
	#main-page{
		min-height:calc(100% + 3350px);
	}
}

@media only screen and (max-width:1050px){
	.intro{
		flex-direction:column;
	}

	.intro p{
		padding:0;
	}
}

@media only screen and (min-width:1050px){
	.mainpage-behind{
		width:600px;
		height:auto;
	}
}

@media only screen and (min-width: 1200px) {
	#main-page{
		min-height:100%;
	}
}