*,
*:before,
*:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
}

body{
	height: 100vh;
	background-color:#EAAC8B;
}

#page{
	display:none;
	text-align:center;
	animation:PeekABoo 2s linear forwards;
}

#page p{
	margin-right:auto;
	margin-left:auto;
	font-size:1.25rem;
	font-family:sans-serif;
	margin-bottom:30px;
	width:50ch;
}

.text{
	background:url('pictures/bg6.png') no-repeat;
	height:100vh;
	display:flex;
	text-align:center;
	animation:
		Disappear 2s linear 6.5s forwards;
}

.text2{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	padding-left:600px;
	height:100vh;
	width:100%;
	background-image:url('pictures/bg7.png');
	background-repeat:no-repeat;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	text-align:center;
	animation:
		Appear 2s linear forwards,
		Disappear 2s linear 7s forwards;
}

.slike{
	display:flex;
	flex-direction:row;
	gap:30px;
	animation:
		dropIn 1.5s ease-in-out forwards,
		dropOut 0.75s linear 7s forwards;
}

h1{
	font-size: 4.5rem;
	font-weight:800;
	color:transparent;
	-webkit-text-stroke:1px #ffffff;
	font-family:"Arial",sans-serif;
	background:url('pictures/text-bg.png');
	background-size:1200px;
	-webkit-background-clip:text;
	letter-spacing:5px;
	animation:
		dropIn 1.5s ease-in-out forwards,
		avatar 17s linear infinite,
		Disappear 2s linear 7s forwards;
}

:is(.earth img, .fire img, .air img, .water img){
	height:auto;
	width:100px;
}

.earth img{
	opacity:0;
	animation:
		earthDropIn 2s ease-out 1.5s forwards,
		earthDropOut 2s linear 5.5s forwards;
}

.fire img{
	opacity:0;
	animation:
		fireDropIn 2s ease-out 1.75s forwards,
		fireDropOut 2s linear 5s forwards;
}

.air img{
	opacity:0;
	animation:
		airDropIn 2s ease-out 2s forwards,
		airDropOut 2s linear 4.5s forwards;
}

.water img{
	opacity:0;
	animation:
		waterDropIn 2s ease-out 2.25s forwards,
		waterDropOut 2s linear 4s forwards;
}

@keyframes Appear{
	0%{
		opacity:0;
	}
	50%{
		opacity:0.9;
	}
	100%{
		opacity:1;
	}
}

@keyframes avatar{
	100%{
		background-position:2000px 0px;
	}
}

@keyframes dropIn{
	0%{
		transform:translateY(-650px);
	}
	100%{
		transform:translateY(0px);
	}
}


@keyframes earthDropIn{
	0%{
		opacity:0;
	}
	50%{
		opacity:0.9;
	}
	100%{
		opacity:1;
	}
}

@keyframes fireDropIn{
	0%{
		opacity:0;
	}
	50%{
		opacity:0.9;
	}
	100%{
		opacity:1;
	}
}

@keyframes airDropIn{
	0%{
		opacity:0;
	}
	50%{
		opacity:0.9;
	}
	100%{
		opacity:1;
	}
}

@keyframes waterDropIn{
	0%{
		opacity:0;
	}
	50%{
		opacity:0.9;
	}
	100%{
		opacity:1;
	}
}


@keyframes dropOut{
	0%{
		transform:translateY(0px);
	}
	75%{
		opacity:0.25;
	}
	100%{
		transform:translateY(-350px);
		opacity:0;
	}
}


@keyframes earthDropOut{
	0%{
		opacity:1;
	}
	50%{
		opacity:0.2;
	}
	100%{
		opacity:0;
	}
}

@keyframes fireDropOut{
	0%{
		opacity:1;
	}
	50%{
		opacity:0.2;
	}
	100%{
		opacity:0;
	}
}

@keyframes airDropOut{
	0%{
		opacity:1;
	}
	50%{
		opacity:0.2;
	}
	100%{
		opacity:0;
	}
}

@keyframes waterDropOut{
	0%{
		opacity:1;
	}
	50%{
		opacity:0.2;
	}
	100%{
		opacity:0;
	}
}


@keyframes Disappear{
	0%{
		opacity:1;
	}
	50%{
		opacity:0.2;
	}
	100%{
		opacity:0;
	}
}

@keyframes PeekABoo{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}