::selection{
	background-color:#ffc89a;
}

:root{
	--text-color:#707d9d;
	--blue:#005aff;
	--orange:orange;
	--green:green;
	--red:red;
	--white:#ffffff;
}

*,
*:before,
*:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	height:100%;
	width:100%;
	scroll-behavior:smooth;
}

img{
	user-zoom: none;  
   	user-select: none;
   	-moz-user-select: none;
   	-webkit-user-drag: none;
   	-webkit-user-select: none;
   	-ms-user-select: none;
}

body{
	height: 100%;
	background:url('../../pictures/intro/bg.webp') no-repeat fixed;
	background-position:center;
	overflow:hidden;
}

body::-webkit-scrollbar{
	display:none;
}

.hidden{
	opacity:0;
	transition-property:opacity, transform;
	transition-duration:2s;
	transition-delay:300ms;
	transform:translateY(-30px);
	filter:blur(5px);
}

.hidden2{
	opacity:0;
	transition-property:opacity, transform;
	transition-duration:1s;
	transform:translateX(-100%);
	filter:blur(5px);
}

.show{
	opacity:1;
	transform:translateY(0px);
	filter:blur(0);
}

.show2{
	opacity:1;
	transform:translateX(0px);
	filter:blur(0);
}

.paragraphs-font{
	font-size:1.25rem;
	font-family: 'Secular One', sans-serif;
	color:var(--text-color);
}

.paragraphs-font a{
	color:var(--orange);
	font-weight:100;
	text-decoration:none;
	transition: background-color 0.2s;
}

.paragraphs-font a:hover{
	background-color:rgba(0, 0, 0, 0.1);
	border-radius:5px;
}

.slider{
	height:150px;
	position:relative;
	width:100%;
	display:grid;
	place-items:center;
	overflow:hidden;
	margin-top:150px;
	margin-bottom:250px;
}

.slide-track{
	display:flex;
	width:calc(250px*36);
	animation:Scroll 40s linear infinite;
}

.slide{
	height:150px;
	width:250px;
	display:flex;
	align-items:center;
}

.slide img{
	width:100%;
}

#main-page{
	display:none;
	width:100vw;
	height:100vh;
	overflow-y:auto;
    overflow-x:hidden;
	scroll-behavior:smooth;
    perspective:10px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.8px);
	-webkit-backdrop-filter: blur(4.8px);
	padding-right:150px;
	padding-left:150px;
	position:relative;
	z-index:999;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.71), rgba(255, 255, 255, 0.71)), linear-gradient(to bottom, rgba(255, 255, 255, 0.71), rgba(255, 255, 255, 0));
  	background-clip: content-box, padding-box;
}

#main-page::-webkit-scrollbar{
	display:none;
}

.go-top{
	position:fixed;
	width:50px;
	height:50px;
	background-color:rgb(76,95,213);
	border-radius:50px;
	bottom:30px;
	right:40px;
	text-decoration:none;
	color:var(--white);
	text-align:center;
	line-height:50px;
	z-index:10000;
}

.mainpage-behind{
	position:absolute;
	opacity:0.22;
}

.air-position{
	left:0;
	top:0;
}

.water-position{
	right:0;
	top:600px;
}

.earth-position{
	left:0;
	top:1200px;
}

.fire-position{
	right:0;
	top:1800px;
}

/*INTRO SECTION*/
.intro{
	position:relative;
    display:flex;
    justify-content: center;
    align-items:center;
    height:100%;
    transform-style:preserve-3d;
    z-index:-1;
}

.main,
.mountain1,
.mountain2{
    position:absolute;
    height:100%;
    width:100%;
    object-fit:cover;
}

.back{
    width:100%;
    height:100%;
    position:absolute;
	object-fit:cover;
    padding-right:300px;
}

.main{
    z-index:2;
    transform:translateZ(0px) scale(1);
}

.mountain1{
    z-index:3;
    transform:translateZ(-5px) scale(1.5);
}

.mountain2{
    transform:translateZ(-10px) scale(2);
}

.intro p{
	max-width:60ch;
	padding-left:50px;
	padding-right:50px;
	text-align:center;
	z-index:4;
	transform:translateX(150px) translateY(-200px) translateZ(-5px) scale(1.5);
}

/*LAYOUT FOR SECTIONS*/
.layout-avatar{
	height:auto;
	max-width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	position:relative;
	z-index: 10000;
}

.layout-avatar h1{
	text-align:center;
}

.small-layout{
	display:flex;
	justify-content:center;
	align-items:center;
}

.layout-column{
	display:flex;
	flex-direction:column;
}

.layout-row{
	display:flex;
	flex-direction:row;
}

.layout-header1{
	font-family: 'Acme', sans-serif;
	font-size:2rem;
    font-display:swap;
	margin-bottom:30px;
	text-decoration-line:underline;
	text-decoration-color:var(--orange);
    color:var(--orange);
}

/*AVATARS-DUTY*/

.avatars-duty{
	margin-top:0px;
	margin-bottom:270px;
}

.duty{
	display:flex;
	align-items:center;
	gap:20px;
}

.duty img{
	border-radius:10px;
}

.duty p{
	max-width:60ch;
	font-size:1.1rem;
}

.duty p b{
	color:var(--orange);
}

#avatarz{
	width:419px;
	height:247px;
}

/*THE BEGINNING*/

.young-aang{
	float:left;
	margin:0 15px 0 0;
}

.the-beginning{
	max-width:100%;
	margin-top:250px;
	margin-bottom:270px;
}

.the-beginning img{
	border-radius:10px;
}

.the-beginning > .small-layout{
	gap:20px;
}

.the-beginning p{
	margin-right:auto;
	margin-left:auto;
	max-width:70ch;
	font-size:1.1rem;
}

/*SEASON 1*/
.season-one{
	margin-top:250px;
	margin-bottom:270px;
}

.season-one > .small-layout{
	gap:20px;
}

.pictures{
	gap:20px;
}

.pictures div{
	gap:70px;
}

.pictures img{
	width:200px;
	height:150px;
	border-radius:10px;
}

.season-one p{
	max-width:90ch;
	font-size:1.1rem;
}

/*SEASON 2*/
.season-two{
	margin-top:250px;
	margin-bottom:270px;
}

.season-two > .small-layout{
	gap:20px;
}

.season-two img{
	border-radius:10px;
}

.season-two p{
	max-width:60ch;
	font-size:1.1rem;
}

/*SEASON 3*/
.season-three{
	margin-top:250px;
	margin-bottom:270px;
}

.season-three > .small-layout{
	gap:20px;
}

.season-three img{
	border-radius:10px;
}

.season-three p{
	max-width:60ch;
	font-size:1.1rem;
}

/*MEDIA QUERIES*/

@media only screen and (width<600px){
	.intro{
		justify-content:end;
		align-items:end;
	}

	.intro p{
		padding:0px 0px 100px 0px;
		font-size:1.2rem;
	}
}

@media only screen and (max-width:649px){
	:is(.mainpage-behind, .layout-avatar, #appa, #aang){
		height:auto;
	}
	
	.mainpage-behind{
		width:300px;
	}

	#appa{
		width:200px;
	}

	#aang{
		width:100px;
	}

	.intro p{
		max-width:35ch;
	}
}

@media only screen and (min-width:649px){
	.mainpage-behind{
		width:450px;
		height:auto;
	}
}

@media only screen and (max-width:692px){
	:is(#avatarz, #airz, #earthz, #firez){
		max-width:100%;
		height:auto;
	}

	.pictures div{
		flex-direction:column;
	}
}

@media only screen and (max-width:768px){
	.layout-avatar{
		margin-top:100px;
		margin-bottom:100px;
	}
}

@media only screen and (max-width:907px){
	.intro p{
		max-width:60ch;
		margin:0 10px;
		text-align:center;
		z-index:4;
		transform:translateX(0px) translateY(-200px) translateZ(-5px) scale(1.5);
	}
}

@media only screen and (max-width:1050px){
	#main-page{
		display:none;
		width:100vw;
		height:100vh;
		overflow-y:auto;
		overflow-x:hidden;
		perspective:10px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(4.8px);
		-webkit-backdrop-filter: blur(4.8px);
		border: 1px solid rgba(255, 255, 255, 0.46);
		padding-right:0px;
		padding-left:0px;
		position:relative;
		z-index:999;
		background-image: none;
		background-color:rgba(255, 255, 255, 0.71);
	}

	.main,
	.mountain1,
	.mountain2{
    position:absolute;
    height:100%;
    width:100%;
    object-fit:cover;
	}

	.back{
		width:100%;
		padding-right:0px;
	}

	.intro{
		flex-direction:column;
	}

	.pictures{
		flex-direction:column;
	}

	.slider{
		margin:0;
		margin-bottom:150px;
	}
}

@media only screen and (min-width:1050px){
	.mainpage-behind{
		width:600px;
		height:auto;
	}
}

@media only screen and (max-width:1550px){
	.duty{
		flex-direction:column;
	}

	.duty img{
		height:365px;
		margin-left:auto;
		margin-right:auto;
	}

	.the-beginning > .small-layout{
		flex-direction:column;
	}

	.season-one > .small-layout{
		flex-direction:column;
	}

	.pictures{
		order:3;
	}
	
	.layout-column{
		flex-direction:row;
	}

	.pictures div{
		gap:20px;
	}

	.season-two > .small-layout{
		flex-direction:column;
	}

	.season-three > .small-layout{
		flex-direction:column;
	}
}

@media only screen and (min-width:1550px){
	.duty img{
		height:365px;
		width:auto;
	}

	.season-three > .small-layout{
		width:992px;
		justify-content:space-between;
	}
}