:root{
	--text-color:#707d9d;
	--blue:#005aff;
    --air:#2297a8;
	--orange:orange;
	--green:green;
	--red:red;
	--white:#ffffff;
}

:is(.world-map-intro h2, .world-map-intro h1, .hr-text, details.detailz summary, .tribe-readmore){
    font-family: 'Secular One', sans-serif;
    font-display:swap;
}

#world-map{
    display:flex;
    justify-content:center;
    width:100%;
    height:auto;
    position:relative;
}

#world-map-map{
    display:block;
    height:auto;
    text-align:center;
    position:relative;
}

#world-map-intro h1{
    max-width:20ch;
    font-size:1.9rem;
    font-family: 'Acme', sans-serif;
    font-display:swap;
    color:var(--text-color);
}

#picture{
    max-width:100%;
    height:auto;
    text-align:center;
    position:relative;
}

.world-map-intro{
    display:flex;
    position:relative;
    justify-content:center;
    text-align:center;
    margin-bottom:25px;
    transform:translateZ(1px);
}

.world-map-intro h2{
    display:none;
    color:var(--text-color);
    font-weight:400;
    margin-top:5px;
}

.world-map-intro h1{
    color:var(--text-color);
    font-weight:400;
    margin-top:5px;
    position:relative;
}

.hr-text {
    display:block;
    font-weight:400;
    font-size: 20px;
    position: relative;
    border: 0;
    height: 1.5em;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    margin-bottom:20px;
}
.hr-text:before {
      content: '';
      background: linear-gradient(to right, orange, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 3px;
}
.hr-text:after {
      content: 'Avatar: The Last Airbender';
      position: relative;
      display: inline-block;
      padding: 0 .5em;
      line-height: 1.5em;
      color: white;
      background-color:#8b4513;
}

.wm-tribes{
    display:flex;
    flex-direction:column;
    max-width:100%;
    height:auto;
    position:relative;
}

details.detailz{
    width:49%;
    position:relative;
    padding:1em;
    border-radius:4px;
    margin-bottom:1em;
    transition:0.4s ease-in-out;
    max-height:50px;
    overflow:hidden;
    margin-right:auto;
    margin-left:auto;
}

details.detailz button{
    position:absolute;
    bottom:10px;
}

details.detailz.firee{
    width:99%;
}

details.detailz div p{
    font-size:0.9rem;
    display:-webkit-box;
    overflow:hidden;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:10;
}

:is(details[open].airr, details[open].nwater, details[open].swater, details[open].earth, details[open].firee){
    border:1px solid #121212;
    max-height:2000px;
}

details[open].airr{
    background-color:rgba(34,151,168,0.1);
    transition-delay:600ms;
}

details[open].nwater{
    background-color:rgba(0,90,255,0.1);
    transition-delay:600ms;
}

details[open].swater{
    background-color:rgba(0,90,255,0.1);
    transition-delay:300ms;
}

details[open].earth{
    background-color:rgba(0,128,100,0.1);
    transition-delay:300ms;
}

details[open].firee{
    background-color:rgba(255,0,0,0.1);
    transition-delay:300ms;
}

details.detailz summary{
    font-size:1.5rem;
    margin-bottom:10px;
    font-weight:800;
    outline:none;
    cursor:pointer;
    position:relative;
}

:is(details.airr summary:before, details.nwater summary:before, details.swater summary:before, details.earth summary:before, details.firee summary:before){
    content: '';
    position: absolute;
    left: 0;
    top: 90%;
    width: 100%;
    height: 3px;
}

details.airr summary:before {
    background: linear-gradient(to right, var(--air), transparent);
}

details.nwater summary:before {
    background: linear-gradient(to right, var(--blue), transparent);
}

details.swater summary:before {
    background: linear-gradient(to right, var(--blue), transparent);
}

details.earth summary:before {
    background: linear-gradient(to right, var(--green), transparent);
}

details.firee summary:before {
    background: linear-gradient(to right, var(--red), transparent);
}

:is(#check1, #check2, #check3, #check4, #check5, #check6, #check7, #check8, #check9){
    display:none;
}

:is(#AirOne, #AirTwo, #AirThree, #WaterOne, #WaterTwo, #Earth, #Fire){
    display:none;
    position:absolute;
    width:30ch;
    height:auto;
    background-color:white;
    border:1px solid black;
    border-radius:5px;
    text-align:left;
    z-index:9999;
}

:is(#AirOne p, #AirTwo p, #AirThree p, #WaterOne p, #WaterTwo p, #Earth p, #Fire p){
    font-size:0.9rem;
    display:-webkit-box;
    overflow:hidden;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:12;
}

:is(#AirOne img, #AirTwo img, #AirThree img, #WaterOne img, #WaterTwo img, #Earth img, #Fire img){
    max-width:100%;
    height:auto;
}

:is(#AirOne div, #AirTwo div, #AirThree div, #WaterOne div, #WaterTwo div, #Earth div, #Fire div){
    padding:0 5px 5px 5px;
}

:is(#AirOne h2, #AirTwo h2, #AirThree h2, #WaterOne h2, #WaterTwo h2, #Earth h2, #Fire h2){
    font-family: 'Secular One', sans-serif;
    font-display:swap;
}

.tribe-readmore{
    background-color:#92a3ce;
    border:2px solid var(--text-color);
    border-radius:5px;
    padding:5px 13px;
}
  

.tribe-readmore a{
    font-size:1rem;
    font-weight:700;
    letter-spacing:2px;
    text-decoration:none;
    color:var(--white);
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 600px) {
    .world-map-intro h1{
        font-size:2em;
    }
    .world-map-intro h2{
        font-size:2em;
    }

    .hr-text{
        letter-spacing:normal;
        width:100%;
    }
}

@media only screen and (min-width: 600px) {
    .world-map-intro h1{
        font-size:2.5em;
    }

    .world-map-intro h2{
        font-size:2.5em;
    }
    
    .hr-text{
        letter-spacing:1px;
        width:100%;
    }
}

@media only screen and (min-width: 768px) {
    .world-map-intro h1{
        font-size:3em;
    }

    .world-map-intro h2{
        font-size:3em;
    }

    .world-map-intro h1:after{
        content:'(Or you can tap/click to select the tribe on the map!)';
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        height:10px;
        color:red;
        font-size:1.25rem;
    }

    #position1-air{
        cursor:pointer;
        position:absolute;
        height:50px;
        width:80px;
        top:140px;
        left:170px;
    }
    
    #position2-air{
        cursor:pointer;
        position:absolute;
        height:70px;
        width:40px;
        top:260px;
        right:150px;
    }
    
    #position3-air{
        cursor:pointer;
        position:absolute;
        height:60px;
        width:130px;
        top:300px;
        left:230px;
    }
    
    #position4-water{
        cursor:pointer;
        position:absolute;
        height:50px;
        width:80px;
        top:70px;
        left:300px;
    }
    
    #position5-water{
        cursor:pointer;
        position:absolute;
        height:60px;
        width:100px;
        bottom:80px;
        left:290px;
    }
    
    #position6-earth1{
        cursor:pointer;
        position:absolute;
        height:230px;
        width:140px;
        top:120px;
        right:190px;
    }
    
    #position6-earth2{
        cursor:pointer;
        position:absolute;
        height:95px;
        width:200px;
        top:170px;
        right:160px;
    }
    
    #position6-earth3{
        cursor:pointer;
        position:absolute;
        height:80px;
        width:200px;
        top:130px;
        left:250px;
    }
    
    #position7-fire{
        cursor:pointer;
        position:absolute;
        height:80px;
        width:170px;
        top:210px;
        left:140px;
    }

    #AirOne{
        top:9px;
        left:0px;
    }
    
    #AirTwo{
        top:9px;
        right:0px;
    }
    
    #AirThree{
        top:9px;
        left:100px;
    }
    
    #WaterOne{
        top:9px;
        left:300px;
    }
    
    #WaterTwo{
        bottom:4px;
        left:400px;
    }
    
    #Earth{
        top:9px;
        right:150px;
    }
    
    #Fire{
        top:9px;
        left:0px;
    }
}

@media only screen and (max-width:767px){
    #picture{
        max-width:70%;
        margin-bottom:50px;
    }

    .wm-tribes .layout-row{
        display:flex;
        flex-direction:column;
    }

    details.detailz{
        width:99%;
    }
}

@media only screen and (min-width: 992px) {
    .wm-tribes{
        display:none;
    }
}

@media only screen and (min-width:1024px){
    #position1-air{
        cursor:pointer;
        position:absolute;
        height:50px;
        width:100px;
        top:200px;
        left:240px;
    }
    
    #position2-air{
        cursor:pointer;
        position:absolute;
        height:100px;
        width:50px;
        top:350px;
        right:200px;
    }
    
    #position3-air{
        cursor:pointer;
        position:absolute;
        height:80px;
        width:170px;
        top:400px;
        left:310px;
    }
    
    #position4-water{
        cursor:pointer;
        position:absolute;
        height:70px;
        width:100px;
        top:100px;
        left:400px;
    }
    
    #position5-water{
        cursor:pointer;
        position:absolute;
        height:70px;
        width:150px;
        bottom:110px;
        left:370px;
    }
    
    #position6-earth1{
        cursor:pointer;
        position:absolute;
        height:320px;
        width:170px;
        top:160px;
        right:270px;
    }
    
    #position6-earth2{
        cursor:pointer;
        position:absolute;
        height:145px;
        width:300px;
        top:220px;
        right:180px;
    }
    
    #position6-earth3{
        cursor:pointer;
        position:absolute;
        height:110px;
        width:300px;
        top:170px;
        left:330px;
    }
    
    #position7-fire{
        cursor:pointer;
        position:absolute;
        height:100px;
        width:200px;
        top:290px;
        left:190px;
    }

    #AirOne{
        top:176px;
        left:0px;
    }
    
    #AirTwo{
        top:176px;
        right:0px;
    }
    
    #AirThree{
        top:176px;
        left:0px;
    }
    
    #WaterOne{
        top:176px;
        left:300px;
    }
    
    #WaterTwo{
        bottom:4px;
        left:520px;
    }
    
    #Earth{
        top:176px;
        right:0px;
    }
    
    #Fire{
        top:176px;
        left:0px;
    }
}

@media only screen and (min-width:1200px){
    .world-map-intro h1{
        display:none;
    }

    .world-map-intro h2{
        display:block;
        width:35ch;
    }
    
    #position1-air{
        cursor:pointer;
        position:absolute;
        height:80px;
        width:140px;
        top:200px;
        left:230px;
    }
    
    #position2-air{
        cursor:pointer;
        position:absolute;
        height:100px;
        width:60px;
        top:380px;
        right:220px;
    }
    
    #position3-air{
        cursor:pointer;
        position:absolute;
        height:90px;
        width:200px;
        top:430px;
        left:340px;
    }
    
    #position4-water{
        cursor:pointer;
        position:absolute;
        height:70px;
        width:130px;
        top:110px;
        left:430px;
    }
    
    #position5-water{
        cursor:pointer;
        position:absolute;
        height:90px;
        width:170px;
        bottom:110px;
        left:400px;
    }
    
    #position6-earth1{
        cursor:pointer;
        position:absolute;
        height:350px;
        width:200px;
        top:170px;
        right:280px;
    }
    
    #position6-earth2{
        cursor:pointer;
        position:absolute;
        height:130px;
        width:340px;
        top:260px;
        right:200px;
    }
    
    #position6-earth3{
        cursor:pointer;
        position:absolute;
        height:120px;
        width:200px;
        top:190px;
        left:360px;
    }
    
    #position7-fire{
        cursor:pointer;
        position:absolute;
        height:110px;
        width:240px;
        top:320px;
        left:210px;
    }

    #AirOne{
        top:234px;
        left:0px;
    }
    
    #AirTwo{
        top:234px;
        right:0px;
    }
    
    #AirThree{
        top:234px;
        left:100px;
    }
    
    #WaterOne{
        top:180px;
        left:570px;
    }
    
    #WaterTwo{
        bottom:4px;
        left:570px;
    }
    
    #Earth{
        top:234px;
        right:150px;
    }
    
    #Fire{
        top:234px;
        left:0px;
    }
}