.char-header-picture{
    background:url(../../pictures/characters/yuebg.webp) no-repeat;
    width:800px;
    height:200px;
    border:3px solid var(--text-color);
    border-radius:10px 70px 30px 100px;
    margin-right:30px;
	background-size:cover;
	background-position-y:-130px;
}

body{
    background-color:var(--blue);
}

.paragraphs-font{
    color:var(--white);
}

#loading-page{
    height:100%;
    width:100%;
    background-color:var(--blue);
    display:flex;
    justify-content:center;
    align-items:center;
}

#loading-page img{
    z-index:1;
    border-radius:50px;
}

#loading-page h1{
    z-index:2;
    position:absolute;
    margin-top:370px;
    color:white;
    font-size:3rem;
	font-family: 'Secular One', sans-serif;
}

.box{
    position:absolute;
    height:250px;
    width:250px;
    border-radius:50%;
    background-color:rgb(0, 70, 255);
    animation:animacija 1s infinite;
}

@keyframes animacija{
    0%{
        transform:perspective(0px) translateZ(0px);
    }
    100%{
        transform: translateZ(1px);
    }
}